<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated efinder -->
      <package
            uri="http://efinder/ir"
            class="efinder.ir.EfinderPackage"
            genModel="model/efinder.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated efinder -->
      <package
            uri="http://efinder/ir/ocl"
            class="efinder.ir.ocl.OclPackage"
            genModel="model/efinder.genmodel"/>
   </extension>

</plugin>
